	<h3><i class="layui-icon layui-icon-console" style='font-size:20px'></i> &nbsp 精品后台</h3>
	<div class='menu-aggregate'>
	  <div id='wrap-absu'><i class='layui-icon'></i></div>
	  <nav class="menu-wrap">
	    <p class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop load" id='menu_all'></p>
	    <h3 class='lic_h3' style='display:none'><i class="layui-icon layui-icon-console" style='font-size:20px;'></i> &nbsp 精品后台(全局菜单)</h3>
        <div class="menu">
            <ul> 
                <!--<li>
                    <a href="#">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                </li>
                <li class="darkerlishadow">
                    <a href=" ">
                        <i class="fa fa-clock-o fa-lg"></i>
                        <span class="nav-text">新闻</span>
                    </a>
                </li>
                <li class="darkerlishadowdown">
                    <a href=" ">
                        <i class="fa fa-rocket fa-lg"></i>
                        <span class="nav-text">娱乐</span>
                    </a>
                </li>
                <li>
                    <a href=" ">
                        <i class="fa fa-question-circle fa-lg"></i>
                        <span class="nav-text">帮助</span>
                    </a>
                </li>-->
            </ul>
        </div>
      </nav>
	</div>
	<ul class='target'>
	</ul>