<!DOCTYPE html>
<html lang="en">
  <head>
  {include file="link/linksCss"}
  <link rel="stylesheet" href="__STATIC__/home/Css/lunbo_home.css" />
  </head>

<body data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="0">
    {include file="public/header"}
	<!--//header-->


	<!--<div id="Index">
		<div class="flexslider kv_slides">
			<ul class="slides">
				<li>
					<div class="left textAnimation" style="display:block;">
						<div class="font-ll">智能风控</div>
						<div class="moduleIntroduction">基于客户的多维度数据，以申请时点为基准，通过客户的动态申请行为趋势变化、申请贷款偏好情况、信息伪装变更等情况，采用机器学习算法进行建模，得出风险评分。通过复杂关系网络发现客户申请当中存在的风险点，可以有效识别恶意欠款等早期风险。</div>
					</div>
					<div class="right">
						<div class="right">
							<div class="sliderImg">
								<img class="imgAnimation_kv1" src="static/home/Images/aui-banner01.png" alt="" draggable="false" style="display: block;">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="left">
						<div class="font-ll">智能获客</div>
						<div class="moduleIntroduction">基于准确可靠且广泛的信贷行为及跨行业数据，通过客户的身份基本信息（包括年龄、工作性质、生活水平等）、借贷历史（卡贷情况）、负债情况、人脉关系、行为偏好等信息进行综合处理和评估利用，运用机器学习算法进行建模，结合积累的客户表现数据进行客户分类，筛选出优质客户群体，达到降低获客成本，快速提升贷款规模的目的</div>
					</div>
					<div class="right">
						<div class="sliderImg">
							<img src="static/home/Images/aui-banner02.png" alt="智能获客"/>
						</div>
					</div>
				</li>
				<li>
					<div class="left">
						<div class="font-ll">征信数据服务</div>
						<div class="moduleIntroduction">结合第三方征信系统丰富的数据资源和合作渠道，为银行、保险、电信运营商、电商、P2P平台、基金、证券、小贷公司、租赁、物流、招聘等客户提供个人信用信息认证服务</div>
					</div>
					<div class="right">
						<div class="sliderImg">
							<img src="static/home/Images/aui-banner03.png" alt="征信数据服务"/>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>-->

	<!--/banner-->
	<div class="banner">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"><span></span></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1" class=""><span></span></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
			</ol>
			<div id="carousel slide">
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<div class="carousel-caption">
						<h3></h3>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="carousel-caption">
						<h3></h3>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="carousel-caption">
						<h3></h3>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="carousel-caption">
						<h3></h3>
					</div>
				</div>
			</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
				<i class="iconfont icon-zuo"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
				<i class="iconfont icon-zuo-copy"></i>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!--/model-->


	<!-- Modal -->
	<!--<section class="banner-bottom" style="padding: 0">
		<div class="container">

			--><!-- Three columns of text below the carousel -->
			<!--<div class="row inner-sec-w3layouts-agileinfo">

				<div class="col-lg-5 bt-bottom-info aos-init aos-animate" data-aos="fade-right">
					<h5>多年行业经验</h5>

				</div>
				<div class="col-lg-7 bt-bottom-info aos-init aos-animate" data-aos="fade-left">
					<p>2013年开始服务至今，一点一滴，积累了丰富的技术及相关经验。每台服务器都稳定高效，每一位客户都认真对待。</p>
				</div>
			</div>
		</div>
	</section>
	<!--//model-->

	<section class="stats_test container-fluid" style="padding:0px">

		<div class="bottom-sub-grid-gb" style="padding-top:40px;">
			<h3 class="tittle_w3ls">套餐购买</h3>
			<p class="signbox"><span></span></p>
			<div class="row inner-sec-w3layouts-agileinfo" style="padding: 20px 40px 60px 40px;margin: 40px            auto 0px auto;width: 79%;">

				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">
						<span class="">按月购买</span>
						<h2>177<span>元</span></h2>
					</div>
					<h4 class="sub-tittle_w3ls">原价：<del>123</del></h4>
					<p>30天</p>
					<p class="content">内容</p>
					<span class="box-bottom"></span>
					<p>
						<a class="btn btn-secondary view" href="" role="button">查看详情</a>
						<a class="btn btn-secondary view color">在线咨询</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">
						<span class="">按月购买</span>
						<h2>177<span>元</span></h2>
					</div>
					<h4 class="sub-tittle_w3ls">原价：<del>123</del></h4>
					<p>30天</p>
					<p class="content">内容</p>
					<span class="box-bottom"></span>
					<p>
						<a class="btn btn-secondary view" href="" role="button">查看详情</a>
						<a class="btn btn-secondary view color">在线咨询</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4 bottom-sub-grid text-center aos-init aos-animate" data-aos="zoom-in">
					<div class="bt-icon">
						<span class="">按月购买</span>
						<h2>177<span>元</span></h2>
					</div>
					<h4 class="sub-tittle_w3ls">原价：<del>123</del></h4>
					<p>30天</p>
					<p class="content">内容</p>
					<span class="box-bottom"></span>
					<p>
						<a class="btn btn-secondary view" href="" role="button">查看详情</a>
						<a class="btn btn-secondary view color">在线咨询</a>
					</p>
				</div>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		</div>
		<div class="hm_dy col-md-4 proj_gallery_grid aos-init lift-list" data-aos="zoom-in">

			<dl class="head">
				<dt>满足多样化需求</dt>
				<dd>以其全面的能力满足各类业务需求</dd>
			</dl>
			<div style="margin: 0 auto;">
				<div class="item">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-network-management"></use>
					</svg>
					<dl>
						<dt>网络技术服务</dt>
						<dd>网站采集</dd>
						<dd>论坛发帖</dd>
						<dd>游戏测试</dd>
						<dd>营销优化</dd>
					</dl>
				</div>

				<div class="item">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-wangluo"></use>
					</svg>
					<dl>
						<dt>推广优化服务</dt>
						<dd>电子商务</dd>
						<dd>定制化推广营销</dd>
						<dd>数据分析</dd>
					</dl>
				</div>

				<div class="item">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-_wangluoyingxiao"></use>
					</svg>
					<dl>
						<dt>企业应用服务</dt>
						<dd>大数据</dd>
						<dd>数据爬取</dd>
						<dd>SEO优化</dd>
						<dd>金融理财</dd>
					</dl>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</section>

	<!--//banner-->
	<!--<section class="banner-bottom">
		<div class="container">

			<!-- Three columns of text below the carousel -->
			<!--<div class="row inner-sec-w3layouts-agileinfo">

				<div class="col-lg-5 bt-bottom-info aos-init aos-animate" data-aos="fade-right">
					<h5>高效率即时响应</h5>

				</div>
				<div class="col-lg-7 bt-bottom-info aos-init aos-animate" data-aos="fade-left">
					<p>遇到任何疑问，您都会在第一时间得到我们的正面回应，并进行相关处理。我们承诺稳定高效，让你放心使用。</p>
				</div>
			</div>
		<!-- /.row -->
	<!--</section>-->

	<section class="services map" style="padding: 0;margin-top: 40px;>
		<div class="container" style="width: 100%;">
	<h3 class="tittle_w3ls">服务器节点覆盖地区</h3>
	<p class="signbox"><span></span></p>
	<div class="row inner-sec-w3layouts-agileinfo">

		<div class="col-md-4 proj_gallery_grid aos-init lift-list" data-aos="zoom-in">
			<iframe class="iframe_map" src="{:url('index/map')}"></iframe>
		</div>

	</div>
	</div>
	</section>

	<!---->
	<!-- /stats -->
	<section class="stats_test container-fluid">
		<div class="row inner_stat_wthree_agileits">
			<div class="col-md-3 stats_left counter_grid">
				<i class="far fa-building"></i>
				<p class="counter">145</p>
				<h4>标题</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid1">
				<i class="fas fa-users"></i>
				<p class="counter">165</p>
				<h4>标题</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid2">
				<i class="far fa-edit"></i>
				<p class="counter">563</p>
				<h4>标题</h4>
			</div>
			<div class="col-md-3 stats_left counter_grid3">
				<i class="far fa-smile"></i>
				<p><span class="counter">100</span>%</p>
				<h4>客户满意度</h4>
			</div>

		</div>
	</section>
	<!-- //stats -->
	<!--/services-->
	<section class="services" style="padding-bottom: 0">
		<div class="container">
			<h3 class="tittle_w3ls">我们能做什么</h3>
			<p class="signbox"><span></span></p>
			<div class="row inner-sec-w3layouts-agileinfo">
				<div class="col-lg-4 grid_info_main aos-init" data-aos="flip-left">
					<div class="grid_info">
						<div class="icon_info">
							<span class="icon">
								<i class="fas fa-laptop"></i>
							</span>
							<h5>
								高安全性
							</h5>
							<p>太阳动态VPS拥有近150+的地区可自主开通VPS云服务器，同时2000万+的IP资源，以及每日40万的IP更新。                            IP均为纯绿色高匿名，保证用户个人隐私和安全性。</p>
						</div>
					</div>
					<div class="grid_info second">
						<div class="icon_info">
							<span class="icon">
								<i class="far fa-clone"></i>
							</span>
							<h5>标题</h5>
							<p>内容内容</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 grid_info_main mid aos-init" data-aos="flip-down">
					<img src="__STATIC__/home/Images/mid.png" class="img-responsive" alt=" ">
				</div>
				<div class="col-lg-4 grid_info_main aos-init" data-aos="flip-right">
					<div class="grid_info">
						<div class="icon_info">
							<span class="icon">
								<i class="fas fa-sitemap"></i>
							</span>
							<h5>标题</h5>
							<p>内容内容</p>
						</div>
					</div>
					<div class="grid_info second">
						<div class="icon_info">
							<span class="icon">
								<i class="fab fa-android"></i>
							</span>
							<h5>标题</h5>
							<p>内容内容</p>
						</div>
					</div>
				</div>


			</div>
		</div>

		<div class="hm_dl" style="max-width: 100%;padding: 0px;">
			<div class="col-md-4 proj_gallery_grid aos-init lift-list" data-aos="zoom-in">
				<dl>
					<dt>代理商加盟</dt>
					<dd>诚招代理，成为我们的代理商，你可拥有单独的后台账户，单独给推广的用户开通套餐，丰富报酬，轻松赚钱</dd>
				</dl>

				<a href="" target="_blank" class="cnta">联系客服</a>
			</div>
		</div>


	</section>
	<!--//services-->
	<!---->
	<!--
	<section class="grids_sec_2">
		<div class="row style-grids_main">
			<div class="col-md-6 grid_sec_info">
				<div class="style-grid-2-text_info aos-init" data-aos="fade-right">
					<h3>标题</h3>
					<p>文本文本文本</p>
					<div class="bnr-button">
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>
					</div>

				</div>
			</div>
			<div class="col-md-6 style-image-2">
			</div>
			<div class="col-md-6 style-image-2 second">
			</div>
			<div class="col-md-6 grid_sec_info">
				<div class="style-grid-2-text_info aos-init" data-aos="fade-right">
					<h3>标题</h3>
					<p>文本文本文本</p>
					<div class="bnr-button">
						<button type="button" class="btn btn-primary play" data-toggle="modal" data-target="#exampleModal">
							<i class="fas fa-play"></i>
						</button>
					</div>

				</div>
			</div>

		</div>
	</section>
	-->
	<!--/Projects-->
	<!--//Projects-->
	<!--reviews_sec-->
	<!---->
	<!--footer-->
    {include file="public/footer"}
	<!-- js -->
    {include file="link/linksJs"}
	<script>
		var window_width = $(window).width();
        if(window_width < 500){
        	$(".iframe_map").css("min-height",window_width / 2 + 150);
        	$(".iframe_map").attr("src","{:url('index/map')}");
		}
	</script>

	<script src="__STATIC__/home/JS/js.js"></script>
  </body>
</html>