<header>
    <div class="header_top" id="home">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <a class="navbar-brand" href="index.html">
                <!--<i class="fab fa-digital-ocean"></i> 动态IP-->
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto tp-nav text-center">
                    <li class="nav-item nav-box" active-data="index">
                        <a class="nav-link" href="/">首页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item nav-box" active-data="package">
                        <a class="nav-link" href="/package.html">套餐购买</a>
                    </li>
                    <li class="nav-item nav-box" active-data="download">
                        <a class="nav-link" href="/download.html">软件下载</a>
                    </li>

                    <li class="nav-item nav-box" active-data="citylist">
                        <a class="nav-link" href="/citylist.html">PPTP线路</a>
                    </li>
                    <li class="nav-item nav-box" active-data="usehelp">
                        <a class="nav-link" href="/usehelp.html">使用帮助</a>
                    </li>
                    <li class="nav-item register">
                        <a class="nav-link" href="/regiregister.html">注册</a>
                    </li>
                    <li class="nav-item login">
                        <a class="nav-link" href="/login.html">登录</a>
                    </li>
                    <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://www.17sucai.com/preview/945243/2018-03-23/2800/index.html#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://www.17sucai.com/preview/945243/2018-03-23/2800/project.html">Projects</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://www.17sucai.com/preview/945243/2018-03-23/2800/error.html">Error Page</a>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
        </nav>
    </div>
</header>